body {
  background-color: #1968C1;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  height: 100px;
}

.pics {
  width: 1300px;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;


}

#main-box {
  padding-top: 12px;
  width: 420px;
  height: 420px;
}

.box-two img {
  height: 200px;
  width: 200px;
  /* display: flex;
  flex-direction: column; */
  margin: 10px;


}
